{% extends "base.html" %}

{% block contenu %}


<h2>Compte</h2>
<h4>S'authentifier</h4>

<form action="/gestion_comptes/connexion" method="post">
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    {% endwith %}
</p>
    <fieldset>
        <div class="form-group">
            <label for="courriel" class="form-label mt-4">Courriel</label>
            <input type="email" id="courriel" placeholder="Courriel" name="courriel" class="form-control" value={{courriel}}>
        </div>
        <div class="form-group">
            <label for="password" class="form-label mt-4">Mot de passe</label>
            <input type="password" id="password" placeholder="Mot de passe" name="motdepasse" class="form-control">
        </div>
        <div class="form-group">
            <input type="checkbox" id="checkPerma" name="checkPerma">
            <label for="checkPerma">Connexion permanente</label>
        </div>
    </fieldset>
    <br>
    <button type="submit" class="btn btn-secondary">Se connecter</button>
</form>

{% endblock %}