{% extends 'base.jinja' %}
{% block content %}

<h2>Mes amis</h2>
<table class="table table-hover">
            <tbody>
                {% if amis!=[] %}
                    {% for ami in amis %}
                        <tr class="table-active">
                            <th scope="row">{{ami.nom}}</th>
                            <td><a href="/amis/supprimer/{{ami._id}}" class="btn btn-danger">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="table-active">
                        <th scope="row">Vous n'avez pas d'amis</th>
                        <td></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="form-group">
            <label for="recherche" class="form-label mt-4">Recherche : </label>
            <input type="recherche" id="rechercheCreate" placeholder="recherche" class="form-control" name="rechercheCreate">
            <div id="msg-recherche" class="invalid-feedback"></div>
        </div>
        <ul class="list-group">
            {% for personne in gens %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{personne.nom}}
                    <span class="badge bg-primary rounded-pill"><a href="/amis/ajouter/{{personne._id}}" style="color:white;">Ajouter</a></span>
                </li>
            {% endfor %}
        </ul>
<script defer="defer"
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script defer="defer"
        src="/static/js/recherche.js"></script>
{% endblock %}