{% extends 'base.jinja' %}
{% block content %}
<div class="container text-center d-flex justify-content-center">
    <p id="timer_container" class="d-flex">
    </p>
    <div id="board" class="board text-center">
    </div>
    <div id="game-options" class="px-1 mx-1 bg-dark-subtle border-2 border-light rounded-2 border text-center">
        <form class="py-5">
            <h3>Options de jeu</h3>
            <div class="px-2">
                <div class="form-check">
                    <input class="form-check-input" name="color" type="radio" id="pieces_w" value="0">
                    <label class="form-check-label" for="pieces_w">
                        Pieces blanches
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="color" type="radio" id="pieces_b" value="1">
                    <label class="form-check-label" for="pieces_b">
                        Pieces noires
                    </label>
                </div>
                <button type="button" id="start" class="btn btn-primary mt-5">Commencer!</button>
            </div>
        </form>
    </div>

</div>
<div id="info">
</div>
<script src="/static/scripts/Board.js"></script>
<script type="module" src="/static/scripts/index.js"></script>
<script type="module" src="/static/scripts/Pieces.js"></script>
{% endblock %}